{% extends 'base.html' %}
{% block title %}Counter Party{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<!-- Sidebar -->
      {% include 'sidebar.html' %}
        <!-- Main content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-4">
        <div class="container">
            <h2 class="mb-4">Counter Party</h2>
            <a class="btn btn-primary" href="{% url 'counterparty_add' %}">Add</a>
            {% include 'counterparty_list.html' %}
        </div>
      </main>
{% endblock %}
