<br><br>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Deal</th>
                <th>Label</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for income in incomes %}
            <tr>
                <td>{{ income.deal }}</td>
                <td>{{ income.label }}</td>
                <td>{{ income.description }}</td>
                <td>{{ income.amount }}</td>
                <td>
                    <a href="{% url 'income_edit' income.pk %}">Edit</a> | 
                    <a href="{% url 'income_delete' income.pk %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
 </div>
 