{% extends 'base.html' %}
{% block title %}Add Inventory{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<!-- Sidebar -->
      {% include 'sidebar.html' %}
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="container">
        <!-- inventory_form.html -->
        <form method="post">
          {% csrf_token %}
          <div class="form-group row">
            <label for="id_product" class="col-sm-2 col-form-label highlight-label">Product:</label>
            <div class="col-sm-10">
              {{ form.product }}
            </div>
          </div>
          <div class="form-group row">
            <label for="id_initial_qty" class="col-sm-2 col-form-label highlight-label">Initial Quantity:</label>
            <div class="col-sm-10">
              {{ form.initial_qty }}
            </div>
          </div>
          <div class="form-group row">
            <label for="id_available_qty" class="col-sm-2 col-form-label highlight-label">Available Quantity:</label>
            <div class="col-sm-10">
              {{ form.available_qty }}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
        
        </div>
      </main>
{% endblock %}
