<div class="htmlBody toggled">
    <a id="show-sidebar" class="btn btn-sm" href="#">
    <i class="icon ion-md-menu" id="hamburger"></i>
  </a>
    <nav id="sidebarWrapper">
      <div class="sidebar-content">
        <div class="sidebar-header"><h2 class="text-center mb-4 mt-4">¯\_(ツ)_/¯ <br>IMS</h2>
        </div>
        <div class="dropdown-divider"></div>
        <div class="navMenu">
          <ul>
            <li>
              <h4 class="navHeader mt-4 pl-2">
                <a href="{% url 'counterparty_list' %}">Counter Party</a>
              </h4>
            </li>
            <li>
              <h4 class="navHeader mt-4 pl-2">
                <a href="{% url 'inventory_list' %}">Inventory</a>
              </h4>
            </li>
            <li>
              <h4 class="navHeader mt-4 pl-2">
                <a href="{% url 'deal_list' %}">Deals</a>
              </h4>
            </li>
            <li>
              <h4 class="navHeader mt-4 pl-2">
                <a href="{% url 'expense_list' %}">Expense</a>
              </h4>
            </li>
            <li>
              <h4 class="navHeader mt-4 pl-2">
                <a href="{% url 'income_list' %}">Income</a>
              </h4>
            </li>
          </ul>
          
        </div>
        <!-- END navMenu  -->
      </div>
      <!-- END sidebar-content  -->
    </nav>
    <!-- END #sidebarWrapper  -->
  
    
    <!-- END .page-content -->
  </div>
  <!-- END whole page wrapper -->