{% extends 'base.html' %}
{% block title %}User Registration{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<!-- Sidebar -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="container">

            <h3>User Registration</h3>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form id="userForm" method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Register</button>
            </form>
        </div>
      </main>

      <script>
        // Client-side password confirmation
        document.getElementById("userForm").onsubmit = function() {
            var password = document.getElementById("password").value;
            var confirm_password = document.getElementById("confirm_password").value;
    
            if (password != confirm_password) {
                alert("Passwords do not match!");
                return false;
            }
        }
    </script>
{% endblock %}