{% extends 'base.html' %}
{% block title %}User Login{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<!-- Sidebar -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="container">

            <h3>User Login</h3>
            
            <form id="loginForm" method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
        </div>
      </main>
{% endblock %}

